@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto+Mono&display=swap');

Body{
  margin: 5px;
  background-color: hsla(0, 1%, 87%, 1);
}
header{background-color: hsla(0, 1%, 87%, 1);}
nav{
  background-color: hsla(0, 1%, 87%, 1);
  border-bottom: 2px solid white;
}
a[href="index.html"]:link, a[href="index.html"]:visited{
  background-color: hsla(0, 1%, 87%, 1);
  color: gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a[href="index.html"]:hover, a[href="index.html"]:active {background-color: hsla(0, 1%, 91%, 1);}

a[href="about.html"]:link, a[href="about.html"]:visited{
  background-color: hsla(0, 1%, 87%, 1);
  color: gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a[href="about.html"]:hover, a[href="about.html"]:active {background-color: hsla(0, 1%, 91%, 1);}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
}

a[href="contact.html"]:link, a[href="contact.html"]:visited{
  background-color: hsla(0, 1%, 87%, 1);
  color: gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a[href="contact.html"]:hover, a[href="contact.html"]:active {background-color: hsla(0, 1%, 91%, 1);}
ul {list-style-type: none;
  margin: 0;
  padding: 0;
}


.li-menu{ display: inline; font-family: 'Open Sans', sans-serif;}

li{
  padding-bottom: 20px;
}

aside a:hover{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

aside a{
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}

p a:hover{
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

p a{
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  transition-delay: 1s;
}
.topic-box{
  height: 40px;
  background: lightgray;
}
.topic-container{
  height: 50px;
  background-color: lightgray;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.main-box{
  height: 1100px;
  width: 1100px;
  /*border: 30px solid purple;*/
  background: lightgray;
}
.aside-box{
  height: 1100px;
  width: 600px;
/*  border: 30px solid purple;*/
  background: lightgray;
}

.main-container{
  height: 1200px;
  background-color: lightgray;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-box{
  height: 300px;
  width: 1600px;
  background: white;
  padding-top: 20px;
  text-align: center;

}
.footer-container{
  height: 320px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:flex-start;
}

/*.portfolio-aside{
  float: right;
  background-color: hsla(0, 1%, 87%, 1);
  /*padding: 5px;
  width: 29%;
}
.portfolio-article{
  float: left;
  background-color: lightgray;
  padding: 5px;
  width: 70%;
}

.portfolio-section::after{
  content: "";
  display: table;
  clear: both;
}

.about-aside{
  float: right;
  background-color: hsla(0, 1%, 87%, 1);
  /*padding: 5px;
  width: 29%;
}
.about-article{
  float: left;
  background-color: lightgray;
  padding: 5px;
  width: 70%;

}
.about-section::after{
  content: "";
  display: table;
  clear: both;
}*/



h1{color: rgba(64, 64, 64, 1); font-family: 'Open Sans', sans-serif; font-weight: 900;}
h2{color: rgba(64, 64, 64, 1); font-family: 'Open Sans', sans-serif; font-weight: 900;}
h3{color: rgba(64, 64, 64, 1); font-family: 'Open Sans', sans-serif; font-weight: 900;}

img{
  border-style: solid;
  border-width: 5px;
  transition: transform 2s;

}
img.top{vertical-align: top;}
img.middle{vertical-align: middle;}
img.bottom{vertical-align: bottom;}

img:hover{
  transform: rotate(360deg);


}

p{color: rgba(64, 64, 64, 1); font-family: 'Roboto Mono', monospace;}
.p-width{width:90%;}
h3.top-border{border-top: 2px solid white;
  padding: 2px;
}
h3.bottom-border{
  border-bottom: 2px solid white;
  padding: 2px;
  width: 600px;
}
p.top-border{
  border-top: 1px solid white;
  padding: 2px;
}
p.top-border{
  border-bottom: 1px solid white;
  padding: 2px;
}

.fa-car{
  font-size: 100px;
  color: gray;
  transition-property: font-size;
  transition-duration: 2s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}
.fa-car:hover{
  font-size: 200px;
  color: hsla(0, 100%, 50%, 1);
}


aside p:nth-child(odd){
  background-color: hsla(225, 100%, 32%, 0.5);
  color: hsla(0, 0%, 95%, 0.5);
}

aside ul li:nth-child(3n) {
  background-color: hsla(60, 100%, 35%, 0.5);
}

/* ---------------stying for Form ---------------------*/

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 0.9rem;

}

textarea{
  color: hsl(0, 0%, 41%);
}

fieldset input{
  display: inline;
}
fieldset{
  border: none;
}
label, legend{
  color: rgba(64, 64, 64, 1); font-family: 'Roboto Mono', monospace;
}

.input-box{
    border-style: solid;
    border-color: hsl(0, 0%, 50%);
    width: 100%;
}
/* --------------- custom checkbox code  -------------------------------*/
.checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* customize the labels */
.checkbox label{
  display: inline;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* create a custon checkbox */
.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eeeeee;
}

/* On mouse-over, add a gray background color */
.checkbox label:hover input ~ .checkmark{
  background-color: #ccc;
  border-style: solid;
  border-width: 0.2rem;
}

/* when the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark{
  background-color: hsl(0, 0%, 40%);
}

/* cheate the checkmark/indicator (hidden when not checked) */
.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkmark:after{
  display: block;
}

/*Style the checkmark/indicator */
.checkbox .checkmark:after{
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
